.waiter {
	font-size: 30px;
}
.graph {
	display: none;
}
.graph svg {
	background-color: #f2f2f2;
}
.graph svg .axis path {
	display: none;
}
.graph svg .axis text {
	fill: #666;
	font-size: 14px;
}
.graph svg .y.axis line {
	stroke: #ccc;
	stroke-dasharray: 3;
}