doctype html
html(lang="en")
	head
		title #{title}
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", href="assets/bootstrap/css/bootstrap.min.css")
		link(rel='stylesheet', href='assets/css/style.css')
	body
		.container
			#graph
		script( src='assets/js/jquery-3.1.1.min.js' )
		script( src='assets/js/d3.v4.min.js')
		script( src='assets/bootstrap/js/bootstrap.min.js' )
		script( src='assets/js/build/react.min.js')
		script( src='assets/js/build/react-dom.min.js')
		script( src='assets/js/build/main.js' )